@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Oswald", sans-serif;
  background: linear-gradient(to right, #000000, #333333); 
  scroll-behavior: smooth;
}